
body {
    background-color: aliceblue;
    line-height: 26px;
   
}

h1{
    font-family:"Arial";
    text-align:center;
}

h3{
    font-family:"Arial";
    text-align:center;
    font-size: 22px;
}

h4{
    font-family:"Arial";
    text-align: center;
}

p {
    font-family:"Arial";
    padding: 0px;
    text-align:left;
}

.main {
    width:750px;
	height:auto;
	display:block;
	margin:0 auto;
	text-align:justify;
	padding:10px;
}

.pictures {
    border: 2px;
    border-color: transparent;
    border-radius: 5px; 
    float:left;
    margin: 25px;
}

#menu {
	width:750px;
	height:26px;
	margin:0 auto;
	display:inline;
}

#menu ul {
	margin:0 auto;
	padding:10px;
	width: 750px;
	display:block;
	text-align:center;
}

#menu ul li {
	list-style:none;
	display:inline-block;
	float:none;
	padding:10px 62px;
	font-family:"Arial";  
	font-size:20px;
}

#menu a:hover {
	color:#FF0040;
	text-decoration:underline;
}

#menu a:active {
	color:#FFFF00;
	text-decoration:none;
}


#list ul li{
    font-size: 14px;
    font-family: Arial; 
}

